{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="text-center login_text">
                <h3 class="login_title">Сохраните свои воспоминания!</h3>
                <p class="login_description">Наш сервис - это виртуальная сокровищница для твоих воспоминаний! Здесь ты
                    можешь сохранить все те драгоценные моменты своей жизни, которые не хочется забывать. Все
                    воспоминания будут храниться в безопасности и доступны только тебе.
                    Но прежде чем начать авторизуйтесь через:</p>
                <a class="btn btn-primary btn-lg" role="button"
                   href="{% url 'vk_login' %}">Вконтакте</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
