{% extends 'base.html' %}
{% load static %}
{% block content %}
<img class="ava" alt="ава" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
{{ first_name }} {{ last_name }}
<a class="btn btn-outline-dark btn-sm my_button" href="{% url 'account_logout' %}" role='button'>Выйти</a>

<div class="container">
    <div class="row">
        <div class="col-4"><br><br>
            {% if memory %}
                <a class="btn btn-outline-success btn-lg my_text" href="{% url 'memory_create' %}" role="button">+ создать
                    воспоминание</a>
                {% for mem in memory %}
                    <a href='#'></a><h3>{{ mem.title }}</h3>
                    <p class="my_text">{{ mem.description }}</p>
                {% endfor %}
            {% else %}
                <h3 class="my_text">У вас нет ни одного воспомнинания!</h3>
                <a class="btn btn-success btn-lg" href="{% url 'memory_create' %}" role="button">+ создать
                    воспоминание</a>
            {% endif %}
        </div>
        <div class="col-8 text-center map">
            <div id="map"></div>
        </div>
        <script>
            const coordinates =
            {{ coordinates|safe }}
        </script>
    </div>
</div>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
